<div class="container-fluid"">
    <%= render partial: "layouts/navbar" %>

    <div class='container-fluid'>
        <div class="header">
            <h1 style='text-align: center;'>Welcome To Monopoly !!!</h1>
        </div>
    </div>
</div>