@import "bootstrap-sprockets";
@import "bootstrap";

.item1 { grid-area: header; }
.item2 { grid-area: games; }

.grid-container {
    margin-top: 5%;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'games games games games games games'
      'games games games games games games';
    grid-gap: 10px;
    background-color: grey;
    padding: 10px;
    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .games-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        vertical-align: middle;
        height: 90%;
        background-color: #1C1C1C;
        .game-box {
            display: none;
            background-color: #2C2C2c;
            border-radius: 15px;
            position: relative;
            display: inline-block;
            width: 200px;
            height: 400px;
            border: 1px solid white;
            margin: 5px;
            #game-box-content {
                align-items: center;
                height: 90%;
                border-radius: 15px;
                background-color: whitesmoke;
                .status{
                    text-align: center;
                    color: black;
                }
            }
        }
    }
}
